body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color:rgba(0, 0, 0, 0.87);
  font-size: 16px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* custom style */
.cat-item {
  font-weight: bold;
  font-size: 18px;
 
}

.cat-item a{
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.secondary-content {
  margin-left: 15px;
}
.subcat-item {
  font-weight: normal;
  font-size: 16px;
}

/* client view design */
ul.subcat {
  border-left: 1px dashed #b9b9b9;
  margin-bottom: 20px;
}

ul.subcat a {
  display: block;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
}

ul.subcat a::before{
  content: '-->';
  clear: both;
}

ul.collection.with-header.cat {
  border-width: 0;
}

li.collection-item.cat-item.card {
  margin-top: 40px;
  border: 1px solid rgba(0,0,0,0.12);
  text-transform: capitalize;
}

select {
  display: block;
  background-color: rgba(224, 224, 224, 0.9);
  border: 1px solid #d6d6d6;
  height: 2rem;
  font-family: 'Roboto' , sans-serif;
  font-weight: 500;
  color: #4d4d4d;
}
.capitalize{
  text-transform: capitalize;
}

