body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color:rgba(0, 0, 0, 0.87);
  font-size: 16px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* custom style */
.cat-item {
  font-weight: bold;
  font-size: 18px;
 
}

.cat-item a{
  text-transform: capitalize;
}

.secondary-content {
  margin-left: 15px;
}
.subcat-item {
  font-weight: normal;
  font-size: 16px;
}

/* client view design */
ul.subcat {
  border-left: 1px dashed #b9b9b9;
  margin-bottom: 20px;
}

ul.subcat a {
  display: block;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
}

ul.subcat a::before{
  content: '-->';
  clear: both;
}

