body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color:rgba(0, 0, 0, 0.87);
  font-size: 16px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* custom style */
.navbar {
  background: #ffffff;
}
.cat-item {
  font-weight: bold;
  font-size: 18px;
 
}

.cat-item a{
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.secondary-content {
  margin-left: 15px;
}
.subcat-item {
  font-weight: normal;
  font-size: 16px;
}

/* client view design */
ul.subcat {
  border-left: 1px dashed #b9b9b9;
  margin-bottom: 20px;
}

ul.subcat a {
  display: block;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
}

ul.subcat a::before{
  content: '-->';
  clear: both;
}

ul.collection.with-header.cat {
  border-width: 0;
}

li.collection-item.cat-item.card {
  margin-top: 40px;
  border: 1px solid rgba(0,0,0,0.12);
  text-transform: capitalize;
}

select {
  display: block;
  background-color: rgba(224, 224, 224, 0.9);
  border: 1px solid #d6d6d6;
  height: 2rem;
  font-family: 'Roboto' , sans-serif;
  font-weight: 500;
  color: #4d4d4d;
}
.capitalize{
  text-transform: capitalize;
}

/* product list style */
.product-list{
  display: block;
  text-align: center;
}
.single-product {
  width: 210px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  text-align: center;
  box-sizing: border-box;
}

.single-product img{
  transition: all .3s;
  max-height: 120px;
}

.single-product:hover img {
  transform: scale(1.1);
}
.btn-floating.halfway-fab {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.banar {
  display: block;
  width: 60%;
  margin: 0 auto 50px;
}

.card .card-content {
  padding: 5px;
}

.card .card-content .card-title {
  font-size: 16px;
  line-height: 18px;
  min-height: 55px;
}
.price{
  font-weight: 500;
  font-size: 17px;
}

/* sidebar design */
.sidebar-container {
  width: 230px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 9;
  background: #F5F5F5;
  padding: 60px 0 0 10px;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
  min-height: 100vh;
  overflow-y: auto;
}



.content-container {
  margin-left: 235px;
  background: #FAFAFA;
}

.card .card-reveal {
  padding: 5px;
}

.card .card-reveal .card-title {
  font-size: 16px;
  font-weight: 500;
}
.material-icons {
  font-size: 20px;
}



